.TodoItem {
    display: flex;
    flex-wrap: wrap;

    padding: 10px;

    margin-left: 0px;
    margin-bottom: 10px;

    border: 1px solid grey;
    border-radius: 5px;

    background-color: white;
    text-align: left;
}

.break {
    width: 100%;
    height: 5px;
    break-after: always
}

.TodoItem.isDragging_true {
    background-color: rgb(211, 209, 209);
}

.TodoItem svg.MuiSvgIcon-root {
    margin-right: 10px;
}

.TodoItem span.material-icons {
    margin-right: 10px;
}

.TodoItem p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16;
}

.TodoItem p.done {
    text-decoration: line-through;
    color:  grey;
    font-style: italic;
}

.TodoItem p.undone {
    text-decoration: none;
}

.TodoItem button.editButton {
    margin-left: auto;
    border: none;
    background-color: white;
}

.TodoItem button.closeButton {
    border: none;
    background-color: white;
}

.DueDate {
    display: flex;
    justify-content: center;

    font-size: x-small;

    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;

    color: white;
    border-radius: 3px;
}

.DueDate.good {
    background-color: green;
}

.DueDate.passed {
    background-color: rgb(165, 0, 0);
}

.DueDate p {
    margin-top: 2px;;
}

.DueDate svg.MuiSvgIcon-root {
    width: 15px;
}

.SingleDatePicker {
    background-color: grey;
    display: block;
}