.TodoItem {
    display: flex;

    padding: 10px;

    margin-left: 0px;
    margin-bottom: 10px;

    border: 1px solid grey;
    border-radius: 5px;

    background-color: white;
    text-align: left;
}

.TodoItem.isDragging_true {
    background-color: rgb(211, 209, 209);
}

.TodoItem svg.MuiSvgIcon-root {
    margin-right: 10px;
}

.TodoItem span.material-icons {
    margin-right: 10px;
}

.TodoItem p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16;
}

.TodoItem p.done {
    text-decoration: line-through;
    color:  grey;
    font-style: italic;
}

.TodoItem p.undone {
    text-decoration: none;
}

.TodoItem button.editButton {
    margin-left: auto;
    border: none;
    background-color: white;
}

.TodoItem button.closeButton {
    border: none;
    background-color: white;
}