.TodoItem {
    display: flex;
    width: 50%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 10px;
}

.TodoItem p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.TodoItem p.done {
    text-decoration: line-through;
    color:  grey;
    font-style: italic;
}

.TodoItem p.undone {
    text-decoration: none;
}


.TodoItem button {
    margin-left: auto;
    border: none;
    background-color: white;
}