.TodoItemSummary {
    display: block;

    padding: 10px;
}

.TodoItemSummary form {
    width: 100%;
    padding-top: 10px;

    display: inline-block;
    box-sizing: border-box;

    margin-left: 0px;
    color: #000000;
}

.TodoItemSummary form input {
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color:  rgba(0, 0, 0, 0.1);
}

.TodoItemSummary form select {
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color:  rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.TodoItemSummary form select option {
    border: 1px solid transparent;
    border-color:  rgba(0, 0, 0, 0.1);
}

.TodoItemSummary p {
    padding: 0;
    margin-left: 0;
}

/* .TodoItemSummary form select.select-selected {
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color:  rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
} */

.TodoItemSummary button {
    margin-top: 10px;
    margin-bottom: 5px;

    padding: 14px 28px;

    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.TodoItemSummary button.saveButton {
    background-color: #4CAF50;
}

.TodoItemSummary button.saveButton:hover {
    background-color: #46a049;
}

.TodoItemSummary button.cancelButton {
    color: black;
    background-color: #e7e7e7;
}

.TodoItemSummary button.cancelButton:hover {
    background-color: #ddd;
}

.DueDatePick {
    display: flex;
    padding-top: 10px;
}


.DueDatePick div.SingleDatePicker {
    margin-left: 10px;
    background-color: white;;
}

.DueDatePick svg {
    margin-left: 10px;
    align-self: center;
}

/* // NOTE: the order of these styles DO matter */

/* // Will edit everything selected including everything between a range of dates */
.CalendarDay__selected_span {
  background: #82e0aa; 
  color: white; 
  border: 1px solid lightpink; 
}

/* // Will edit selected date or the endpoints of a range of dates */
.CalendarDay__selected {
  background: rgb(97, 75, 75);
  color: white;
}

/* // Will edit when hovered over. _span style also has this property */
.CalendarDay__selected:hover {
  background: orange;
  color: white;
}

/* // Will edit when the second date (end date) in a range of dates
// is not yet selected. Edits the dates between your mouse and said date */
.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: brown;
}