.TodoItem {
    display: flex;

    /* width : 500px;
    height: 20px; */

    /* padding-top: 10px;
    padding-bottom: 10px; */
    padding: 10px;

    border: 1px solid grey;
    border-radius: 5px;
    
    background-color: white;

    margin-bottom: 10px;
}

.TodoItem p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16;
}

.TodoItem p.done {
    text-decoration: line-through;
    color:  grey;
    font-style: italic;
}

.TodoItem p.undone {
    text-decoration: none;
}


.TodoItem button {
    margin-left: auto;
    border: none;
    background-color: white;
}